<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Viom Portfolio</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>

<body>
  <!-- Left Sidebar -->
  <div class="mobile-menu-btn">
    <i class='bx bx-menu'></i>
  </div>

  <aside class="sidebar">
    <div class="logo">
      <h1>Viom.</h1>
    </div>
    <nav>
      <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#Services">Services</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="contact-info">
      <div class="social-icons">
        <a href="https://x.com/Viom27"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-youtube'></i></a>
        <a href="https://pin.it/34bwDDzbQ"><i class='bx bxl-pinterest'></i></a>
        <a href="https://www.instagram.com/v___viom_shro/"><i class='bx bxl-instagram'></i></a>
      </div>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="main-content">
    <!-- Hero Section -->
    <section id="home" class="hero">
      <div class="hero-content">
        <div class="hero-inner">
          <div class="hero-text">
            <h1 class="name">Bindu madhav Shrotriya</h1>
            <p>I'm <span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
          </div>
          <div class="hero-image">
            <div class="image-container">
              <img src="../static/images/my pic.jpg" alt="Profile Picture">
            </div>
          </div>
        </div>
      </div>
      <span class="hero-bg-number">01</span>
    </section>

    <!-- About Section -->
    <section id="about" class="about">
      <div class="about-content">
        <div class="section-header">
          <span class="subtitle">ABOUT ME</span>
          <h2>UI/UX Designer & Web Developer</h2>
        </div>

        <div class="about-grid">
          <!-- Left Column: Image -->
          <div class="about-image">
            <div class="image-wrapper">
              <img src="../static/images/my pic.jpg" alt="Profile Picture">
            </div>
          </div>

          <!-- Right Column: Info -->
          <div class="about-info">
            <p class="about-description">
              I'm Bindu Madhav Shrotriya, a passionate Developer, Designer with expertise in
              web development, UI/UX design, or AI solutions. I love creating innovative and functional
              solutions while staying curious and inspired by the world around me.
            </p>

            <div class="container">
                <div class="info-section">
                    <div class="info-grid">
                        <div class="info-label">Age:</div>
                        <div class="info-value">21</div>
                        
                        <div class="info-label">Degree:</div>
                        <div class="info-value">B.Tech</div>
                        
                        <div class="info-label">Phone:</div>
                        <div class="info-value">+91 86173 51720</div>
                        
                        <div class="info-label">Email:</div>
                        <div class="info-value">bindumadhavshrotriy</div>
                        
                        <div class="info-label">City:</div>
                        <div class="info-value">Raj., india</div>
                        
                        <div class="info-label">Freelance:</div>
                        <div class="info-value available">Available</div>
                    </div>
                    
                    <div class="button-container">
                        <a href="assets/cv.pdf" class="download-cv" download>Download CV</a>
                        <a href="#experience" class="my-works">My Works</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <span class="hero-bg-number">02</span>
    </section>

    <!-- Services Section -->
    <section id="Services" class="services">
      <div class="services-content">
        <div class="section-header">
          <span class="subtitle">SERVICES</span>
          <h2>What I Do</h2>
        </div>

        <div class="services-grid">
          <div class="service-item">
            <span class="number">01</span>
            <div class="service-info">
              <h3>UI/UX Design</h3>
              <p>Creating intuitive and engaging user experiences through thoughtful interface design and user research.
              </p>
              <a href="#" class="service-link">
                Learn More <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>

          <div class="service-item">
            <span class="number">02</span>
            <div class="service-info">
              <h3>Programming/Developing</h3>
              <p>Creating dynamic and efficient websites and software solutions that bring your ideas to life with seamless functionality and design.</p>
              <a href="#" class="service-link">
                Learn More <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>
          
          <div class="service-item">
            <span class="number">03</span>
            <div class="service-info">
              <h3>Illustration</h3>
              <p>Crafting unique and creative illustrations that bring ideas and concepts to life visually.</p>
              <a href="#" class="service-link">
                Learn More <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>

          <div class="service-item">
            <span class="number">04</span>
            <div class="service-info">
              <h3>Graphic Design</h3>
              <p>Developing striking visual solutions that communicate your message effectively and memorably.</p>
              <a href="#" class="service-link">
                Learn More <i class='bx bx-right-arrow-alt'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="hero-bg-number">03</span>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="experience">
      <div class="section-header">
        <span class="subtitle">MY JOURNEY</span>
        <h2>Work Experience</h2>
      </div>

      <div class="experience-timeline">
        <div class="experience-item">
          <div class="experience-info">
            <span class="year">2024<i class='bx bx-calendar'></i></span>
            <h3 class="title">UI/UX Designer & python dev</h3>
            <span class="company">Ampro</span>
          </div>
          <div class="experience-content">
            <p>Led the redesign of core products, resulting in a 40% increase in user engagement and satisfaction
              scores.</p>
            <ul class="achievements">
              <li>Managed a team of 2 designers & 3 Developers</li>
              <li>Implemented design system used by 100+ products</li>
              <li>Reduced user error rates by 45%</li>
            </ul>
          </div>
        </div>

        <!-- <div class="experience-item">
          <div class="experience-info">
            <span class="year"><i class='bx bx-calendar'></i></span>
            <h3 class="title"></h3>
            <span class="company"></span>
          </div>
          <div class="experience-content">
            <p>Developed and maintained design systems for enterprise-level applications.</p>
            <ul class="achievements">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

        <div class="experience-item">
          <div class="experience-info">
            <span class="year"><i class='bx bx-calendar'></i>2015 - 2018</span>
            <h3 class="title"></h3>
            <span class="company"></span>
          </div>
          <div class="experience-content">
            <p></p>
            <ul class="achievements">
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div> -->
      </div>
      <span class="hero-bg-number">04</span>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="skills">
      <div class="skills-content">
        <div class="section-header">
          <span class="subtitle">MY SKILLS</span>
          <h2>My Expertise</h2>
        </div>

        <div class="skills-grid">
          <!-- Programming Skills -->
          <div class="skills-category">
            <h3>Programming Skills</h3>
            <div class="skill-items">
              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">C/C++</span>
                  <span class="skill-percentage">85%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 85%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">Python</span>
                  <span class="skill-percentage">70%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 75%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">JavaScript</span>
                  <span class="skill-percentage">50%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 50%"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Technical Skills -->
          <div class="skills-category">
            <h3>Technical Skills</h3>
            <div class="skill-items">
              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">React</span>
                  <span class="skill-percentage">50%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 50%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">Django/Flask</span>
                  <span class="skill-percentage">55%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 55%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">DataBase</span>
                  <span class="skill-percentage">50%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 50%"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Professional Skills -->
          <div class="skills-category">
            <h3>Professional Skills</h3>
            <div class="skill-items">
              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">UI/UX Design</span>
                  <span class="skill-percentage">90%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 90%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">Project Management</span>
                  <span class="skill-percentage">85%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 85%"></div>
                </div>
              </div>

              <div class="skill-item">
                <div class="skill-info">
                  <span class="skill-name">Graphic Design</span>
                  <span class="skill-percentage">80%</span>
                </div>
                <div class="progress-bar">
                  <div class="progress" style="width: 80%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span class="hero-bg-number">05</span>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact">
      <div class="contact-content">
        <div class="section-header">
          <span class="subtitle">CONTACT</span>
          <h2>Contact Me</h2>
        </div>
        <p class="section-desc">Labore accusam in modo compungi, iacentem substantiales um se sed esse haec.</p>

        <div class="contact-grid">
          <!-- FAQ Section -->
          <!-- <div class="faq-section">
            <h3>Frequently Asked Questions</h3>

            <div class="faq-items">
              <div class="faq-item active">
                <div class="faq-question">
                  <h4>What experience do you have in my work?</h4>
                  <span class="toggle-icon"><i class='bx bx-chevron-up'></i></span>
                </div>
                <div class="faq-answer">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur.</p>
                </div>
              </div>

              <div class="faq-item">
                <div class="faq-question">
                  <h4>How many clients do you typically work with at once?</h4>
                  <span class="toggle-icon"><i class='bx bx-chevron-down'></i></span>
                </div>
              </div>

              <div class="faq-item">
                <div class="faq-question">
                  <h4>Do you have the capacity to take on this project right now?</h4>
                  <span class="toggle-icon"><i class='bx bx-chevron-down'></i></span>
                </div>
              </div>
            </div>
          </div> -->

          <!-- Contact Form -->
          <div class="contact-form-wrapper">
            <h3>Feel free to send me a message or any word of appreciation.</h3>
            <form class="contact-form" method="POST">
              <input type="text" name="name" placeholder="Your Full Name" required>
              <input type="email" name="email" placeholder="Your Email Address" required>
              <textarea name="message" placeholder="Your Message" required></textarea>
              <button type="submit" class="submit-btn">Send Message <i class='bx bx-send'></i></button>
            </form>
          </div>
        </div>
      </div>
      <span class="hero-bg-number">06</span>
    </section>
  </main>

  <script src="../static/script.js"></script>
</body>

</html>