# Virtual Environment
.venv/
__pycache__/
*.pyc

# Image directories
assets/
images/
.images/
static/images/

# Environment variables
/.env
# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db